# Laravel
.env
.env.*
.phpunit.result.cache
.phpunit.cache
/vendor
/node_modules
/public/hot
/public/build
/public/storage
/storage/*.key
/storage/pail
/storage/app/tmp
/storage/logs/
/storage/framework/*
/bootstrap/cache/*
/bootstrap/

# Базы данных и резервные копии
*.sqlite
*.sql
*.zip
*.bak

# IDE и редакторы
/.idea
/.vscode
/.fleet
/.nova
/.zed
launch.json

# Конфиги и зависимости, которые не должны попасть в репу
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
auth.json
.phpactor.json

# Неигнорируемое (раскомментировать при необходимости)
# /config
# /resources
